<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="../css/style.css" rel="stylesheet" />
</head>

<body>
    <h1>Index</h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Nodejs Test 05</h2>
                    </div>
                    <div class="card-body">
                        <p>Nodejs Test 05</p>
                        <hr />
                        <p><a href="/new-page.html">New Page Test</a></p>
                        <p><a href="/test02">Test 02</a></p>
                        <p><a href="/test03">Test 03</a></p>
                        <p><a href="/test04">Test 04</a></p>
                        <p><a href="/test05">Test 05</a></p>
                        <p><a href="/test06">Test 06</a></p>
                        <p><a href="/test07">Test 07</a></p>
                        <p><a href="/test08">Test 08</a></p>
                        <p><a href="/test09">Test 09</a></p>
                        <p><a href="/test10">Test 10</a></p>
                        <p><a href="/test11">Test 11</a></p>
                        <p><a href="/test12">Test 12</a></p>
                        <p><a href="/test13">Test 13</a></p>
                        <p><a href="/test14">Test 14</a></p>
                        <p><a href="/test15">Test 15</a></p>
                        <p><a href="/test16">Test 16</a></p>
                        <p><a href="/test17">Test 17</a></p>
                        <p><a href="/test18">Test 18</a></p>
                        <p><a href="/test19">Test 19</a></p>
                        <p><a href="/test20">Test 20</a></p>
                    </div>
                    <div class="card-footer">
                        Learning Nodejs for your productivity
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>